<% posts = @posts %>
<% image_cards, noimg_cards = posts.partition { |post| post.image.present? } %>

<div class="container">
  <div class="row justify-content-center">
    <% (image_cards).each_slice(4) do |group| %>
      <div class="row">
        <% group.each do |post| %>
          <% if post.image.present? %>
            <div class="col-3 card mx-auto mt-4 shadow-lg" style="margin-left: 40px;">
              <%= link_to post_path(post.id) do %>
              <%= image_tag post.image, class: "index-img" %>
              <% end %>
            </div>
          <% else %>
            <div class="col-3 card mx-auto mt-4 shadow-lg" style="margin-left: 40px;">
              <!-- ダミーのカードを追加 -->
              <div class="dummy-card" style="width: 200px; height: 200px;"></div>
            </div>
          <% end %>
        <% end %>
        <% if group.length < 4 %>
          <% (4 - group.length).times do %>
            <div class="col-3 card mx-auto mt-4 shadow-lg" style="margin-left: 40px;">
              <!-- ダミーのカードを追加 -->
              <div class="dummy-card" style="width: 200px; height: 200px;"></div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
  <div class = "row">
    <div class="mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
</div>
  