// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.post-col img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

}

 .post-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 200px;
  hyphens: auto;
  }