<div class="card-list-container py-5 background">
    <div class="card w-50 mx-auto mt-4 shadow-lg">
     <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h3><ペットコミュニティ></h3>
        </div>
        <div class="col-44">
        </div>
        ここは、ペットコミュニティのサイトになります。<br>
        昨今、ペットの散歩に行っても、近所の方と話す機会も希薄になりました。<br>
        相談する場、ペットの話を気軽にする場、そういう場を提供する目的の為のサイトになります。

      </div>
    </div>
  </div>
</div>




