<div class = "container mt-5" >
<div class = "col mx-auto">
<h3>ユーザー情報</h3>
<p>名前 <%= @user.name %></p>
<p>メールアドレス <%= @user.email %></p>
<span>ユーザーステータス</span>
<% if @user.is_active? %>
  <span class="text-success">　有効</span>
<% else %>
  <span class="text-muted">　退会</span>
<% end %>

<p>画面が寂しいのでプロフィール画像つけてもいいかも？</p>

<div><p><%= link_to "投稿一覧", admin_my_posts_path(user_id: @user.id) %></p></div>

<div class="mx-5"><%= link_to "編集する", edit_admin_user_path, class: 'btn btn-sm btn-success' %></div>

</div>
</div>